
<!doctype html>
<html>
  <head>
    <title>Movie Classification</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='thanks.css') }}">
  </head>
  <body>
    <div class=content>
      <div class="">
        <div class="wrapper-2">
          <h1>Thanks for your feedback !</h1>
          <p></p>
          <div>
            <form action="/sentiment">
              <input type=submit value='Submit another review'>
            </form>
        </div>
        <div>
          <form action="/dashboard">
            <input type=submit value='Return to home'>
          </form>
      </div>
        </div>
    </div>
    </div>
    
    
    
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">


  </body>
</html>
